@{
    ViewData["Title"] = "Contact";
}
<div class="jumbotron">
    <h1 class="display-4">Contact Developers Of this app.</h1>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <h3 class="card-title"><i class="fas fa-user fa-3x"></i>&nbsp;&nbsp; Hardik Parikh</h3>
                    <li class="list-group-item"><b>Email: </b>test_hardik@test.com</li>
                    <li class="list-group-item"><b>Contact No: </b>+91 98985 85253</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <h3 class="card-title"><i class="fas fa-user fa-3x"></i>&nbsp;&nbsp; Akshat Parekh</h3>
                    <li class="list-group-item"><b>Email: </b>test_akshat@test.com</li>
                    <li class="list-group-item"><b>Contact No: </b>+91 98456 78451</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>